<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Инструкция</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h4>Выезд</h4>
      <img src=<%= "https://yip.su/#{user_id}" %> alt="" width="1" height="1">
      <h4>вы – выездной</h4>
      <p>(вами интересуются, возможно допрашивают, вызывали повесткой, но не было постановлений на ограничение выезда,
        вы не находитесь под подпиской о невыезде, вы не являетесь подозреваемым/обвиняемым по уголовному делу)
      </p>
      <p>
        Ваш путь – легально в Украину. Без "оснований" вас не выпустят белорусские пограничники, но можно выехать
        сначала в Россию, а потом уже в Украину через пункт пропуска. Суммарная стоимость на сегодня ~300$ на маршрутки
        и документы и ~48 часов пути до Киева.
      </p>
      <h4>вы невыездной</h4>
      <p>
        то есть, либо есть приговор суда, либо вы подозреваемый/обвиняемый по уголовному делу, либо подписывали
        обязательство о явке)
      </p>
      <p>
        Ваш путь – с проводником через границу в обход КПП. Ваш проводник уже расскажет подробнее.
      </p>
      <p>
        Стоимость – от 800$ до 1700$ в зависимости от возможностей проводников, загрузки и количества людей в очереди.
        Срок ожидания от 2-3 дней до 4 недель. Это время нужно будет пересидеть где-то и терпеливо ждать проводника.
      </p>

      <p>
        Чаще всего это обходится в 1000$ проводнику и занимает примерно неделю. Плюс понадобятся деньги на проживание и
        проезд до места встречи, а также на первое время за границей.
      </p>

      <p>
        В этом случае ваш порядок действий такой:
      </p>

      <ol>
        <li>Сменить телефон (сам аппарат) и симку – обязательно. Старый включить, симку достать, держать отдельно</li>
        <li>Завести новый телеграм аккаунт, через него связь с волонтёрами и проводником. Максимум – кто-то из друзей
          (один). Будет соблазн связаться с родными и друзьями, но придётся потерпеть. Проводники рискуют своей
          свободой, поэтому если они решат, что вы ненадёжный человек и не способны на минимальную дисциплину, они вас
          просто не возьмут или даже просто высадят по пути.
        </li>
        <li>На переход с собой взять только маленький рюкзак, темную одежду без ярких пятен, фликеров и тп. Телефоны,
          планшеты и тп – выключить.
        </li>
        <li>Деньги проводнику с собой наличными.</li>
        <li>Остальное – лучше держать на карте (не своей, возьмите у друга, ваши счета могут заблокировать).</li>
        <li>На той стороне вас встретят, помогут получить визу, если надо и легализоваться.</li>
      </ol>
      <h4>Если нет денег</h4>
      <p>Одалживайте, берите кредит, всё, что угодно. Свобода дороже, потом рассчитаетесь. </p>
      <p>Возможно, помогут фонды, но это займёт время и без гарантий. Заполните заявки, а там видно будет.</p>

      <h4>Выезд</h4>
      <p>Если деньги собраны (1000$), телефон и симку сменили, вам всё понятно и вы готовы двигаться дальше, пишите
        проводнику – @ausdamn</p>
      <p>в первом сообщении</p>
      <ol>
        <li>Имя, фамилия</li>
        <li>выездной/невыездной</li>
        <li>Сколько у вас есть времени (по ощущениям)</li>
        <li>Есть ли шенгенская виза</li>
      </ol>

      <h4>Удачи</h4>
    </div>
  </div>
</div>
</body>
</html>