<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Инструкция</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h4>Эвакуация</h4>
      <p>Чтобы ускорить процесс общения и оценить, насколько экстренный ваш случай, мы просим вас по порядку ответить на
        следующий вопросы:
      </p>
      <ol>
        <li>Есть ли у вас ограничение на выезд?</li>
        <li>Есть ли в отношении вас уголовное дело?</li>
        <li>Сколько времени у вас есть (по вашим ощущениям)</li>
      </ol>

      <h4>Верификация</h4>
      <p>Чтобы мы могли вас верифицировать, нам понадобится от вас максимально подробная информация:</p>
      <ol>
        <li>Нужны будут все документы, которые касаются вашего дела, повестки, решения судов, протоколы, все что угодно.
        </li>
        <li>Также нужна будет ваша история, как можно более подробная, с датами – задержали тогда-то, допрашивали
          тогда-то и тп.
        </li>
        <li>Контакты людей, которые смогут вас порекомендовать.</li>
      </ol>
    </div>
  </div>
</div>
</body>
</html>